<div class = 'section'>
	<h1> Recharge: <%= sponse.success %></h1>
	<h2> Carrier: <%= json.carrier_code %> Country: <%= json.country_code %> Amount: <%= '$ ' + json.amount / 100 + '.00' %></h2>
	<h2>Mobile Number: <%= json.phone_number %> </h2>
</div> 