<div class = 'container'>
	
	<h3> Top Up Transaction History </h3>
	<table class = 'table'>
		<tr>
			<th>Id</th>
			<th>Transaction ID</th>
			<th>Balance</th>
			<th>Country Code</th>
			<th>Carrier</th>
			<th>Currency</th>
			<th>Amount</th>
			<th>Status</th>
			<th>Mobile Number</th>
			<th>Account id</th>
			<th>Client transaction id</th>
			<th>Service number</th>
			<th>Payment Reference ID</th>
		
		</tr>

		<% _.each(topups, function(topups) { %>	
				<tr> 
					<td> <%= topups.id %></td>
					<td> <%= topups.transaction_id %></td>
					<td> <%= topups.balance %></td>
					<td> <%= topups.country_code %></td>
					<td> <%= topups.carrier_code %></td>
					<td> <%= topups.currency_code %></td>
					<td> <%= topups.amount %></td>
					<td> <%= topups.status %></td>
					<td> <%= topups.mobile_number %></td>
					<td> <%= topups.account_id %></td>
					<td> <%= topups.client_transaction_id %></td>
					<td> <%= topups.service_number %></td>
					<td> <%= topups.payment_reference_id %></td>

				</tr>
		<% })  %>
	</table>
	
</div> 